<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Auto_Ordering_Lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Auto_Ordering_Lite.Properties.Settings>
            <setting name="isInternet" serializeAs="String">
                <value />
            </setting>
            <setting name="Target" serializeAs="String">
                <value />
            </setting>
            <setting name="MOQ" serializeAs="String">
                <value />
            </setting>
            <setting name="MOQUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="Priority" serializeAs="String">
                <value />
            </setting>
            <setting name="Dos" serializeAs="String">
                <value />
            </setting>
            <setting name="SchTime" serializeAs="String">
                <value />
            </setting>
        </Auto_Ordering_Lite.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.52" newVersion="16.4460.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3460.0.26" newVersion="15.3460.0.26" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>